# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\test\code-demo\test-maven-github-repo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
